.contact {
    @include flex;
    @include padding;

    &__info {
        width: 50%;

        h2 {
            @include font_1(3.6rem, 600, 5.4rem);
        }

        p {
            @include pragraph_m;
            @include font_1;
            color: $secondary_color;
        }

        h5 {
            @include flex;
            @include font_2;
            margin-bottom: 1.2rem;
        }

    }

    &__button {
        @include flex;
        gap: 3.2rem;

        button {
            @include font_2;
            @include btn;
        }

        h5 {
            @include flex;
            @include font_2;
        }
    }

    &__accordion{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    &__card{
        padding: 3.2rem 3.6rem;
        display: flex;
        flex-direction: column;
        gap: 2.2rem;
        border-radius: 4px;

        position: relative;
        box-shadow: 5px 5px 15px 20px $ac_down_bg_color;

        p{
            display: none;

            @include pragraph_m;
            @include font_1;
            color: $secondary_color;
        }

        input[type=checkbox]{
            height: 3rem;
            width: 3rem;
            position: absolute;
            top: 3.95rem;
            right: 4.26rem;
        }

        input[type=checkbox]:checked + p{
            display: block;
        }
    }

    &__bottom{
        @include flex;
        justify-content: space-between;

        h4{
            font-family: montserrat;        
            color: $primary_color;

            font-weight: 600;
            font-size: 2.4rem;
            line-height: 3.6rem;
        }

        img{
            padding: 1.65rem 1.3rem;
            background-color: $ac_down_bg_color;
            border-radius: 50%;
        }
    }
}